@page "/counter"
@using System.Security.Claims;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p/>
<AuthorizeView>
    <NotAuthorized>
        <span>u are not authorized</span>
    </NotAuthorized>
    <Authorized>
        <span>Authorized as @context.User.Identity.Name</span>
        <p>  <span>Role: @context.User.Identity.ToString()</span></p>
    </Authorized>
    <Authorized >
        <span>Authorized Managment as @context.User.Identity.Name</span>
        <p>  <span>Role: @context.User.Identity.ToString()</span></p>

        <span>Authorized Managment as @context.User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Actor).Type</span>
        <p>  <span>Actor:@context.User.Claims.FirstOrDefault(claim => claim.Type ==  ClaimTypes.Actor).Value</span></p>
    </Authorized>

</AuthorizeView>

@code {
    private int currentCount = 0;
    
    private void IncrementCount()
    {
        currentCount++;
    }
}
